[submodule "vendor/esp-idf"]
	path = vendor/esp-idf
	url = https://github.com/espressif/esp-idf.git
	shallow = true
[submodule "components/z8lua"]
	path = components/z8lua
	url = https://github.com/teapotlaboratories/z8lua.git
	branch = pico-e32
[submodule "components/LovyanGFX"]
	path = components/LovyanGFX
	url = https://github.com/lovyan03/LovyanGFX.git
	shallow = true
[submodule "references/makerfabs-parallel-tft-lvgl-lgfx"]
	path = references/makerfabs-parallel-tft-lvgl-lgfx
	url = https://github.com/radiosound-com/makerfabs-parallel-tft-lvgl-lgfx.git
	shallow = true
[submodule "components/fake08"]
	path = components/fake08
	url = https://github.com/teapotlaboratories/fake-08.git
	branch = pico-e32
